/*
 * Game of Light, it's satoshis.place but with Conway's Game of Life
 * Copyright (C) 2018 Trey Del Bonis
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;

    overflow: hidden;
}

#gamecontainer {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#game {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#overlay {
    position: absolute;
    top: 0px;
    left: 0px;

    z-index: 5;
    pointer-events: none;
}

#overlay * {
    pointer-events: auto;
}

#heading {
    width: 100vw;

    margin: 0;
    border-bottom: 1px solid black;

    padding: 4px;

    background-color: white;
}

.panel {
    margin: 5px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px;

    background: #ddd;
}

#infocol {
    max-width: 400px;
}

.invoice {
    margin: 0.5em;

    font-family: monospace;
    word-break: break-all;
}

.button {
    background-color: #ccc;
}

#colorbox {
    padding: 4px;
}

.colorbutton {
    width: 2em;
    height: 2em;
    border: 1px solid black;
    border-radius: 8px;
}

.colorbutton:hover !important {
    opacity: 10%;
}
